.parentWrapper{
    @apply w-[100%] pt-[3rem] flex flex-col lg:gap-20 gap-14
}

.parentWrapper h1{
    @apply text-red-500 flex justify-center font-[500]
}

.main{
    @apply w-[70vw] m-auto lg:flex justify-between
}

.msgWrapper input{
    @apply lg:w-[30rem] w-[18rem] focus:outline-none py-[0.5rem] px-[1rem] rounded-lg shadow-lg
}

.msgWrapper{
    animation-name: wrapper;
    position: relative;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-timing-function: linear;
    @apply lg:w-[35rem] w-[24rem] lg:h-[27rem] h-[23rem] flex flex-col justify-between lg:items-center lg:mt-0 mt-[5rem]
}

.msgWrapper textarea{
    @apply lg:w-[30rem] w-[18rem] lg:h-[18rem] h-[15rem] focus:outline-none resize-none py-[0.5rem] px-[1rem] rounded-lg shadow-lg
}

.msgWrapper button{
    @apply w-[max-content] py-[0.5rem] px-[1rem] flex gap-3 bg-[#343D68] rounded-md text-white active:bg-slate-600 lg:mx-0 mx-[3rem]
}

.contact{
    animation-name: contact;
    position: relative;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-timing-function: linear;
}

/* .parentWrapper:hover .msgWrapper{
    animation-name: wrapper;
    position: relative;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-timing-function: linear;
} */

@keyframes wrapper{
    0% {right: -1000px;}
    100% {right: 0px;}
}

/* .parentWrapper:hover .contact{
    animation-name: contact;
    position: relative;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-timing-function: linear;
} */

@keyframes contact{
    0% {top: -1000px;}
    100% {top: 0px;}
}