.parentWrapper{
    border-top: 1px solid black;
    @apply w-screen h-[max-content] text-white py-[5rem] px-[2rem]
}

.heading{
    @apply text-center w-[30vw] h-[15vh] m-auto mt-[3rem]
}

.heading h1{
    @apply text-[#cc005f]
}

.heading p{
    @apply lg:text-5xl font-[600] overflow-hidden
}

.contactsection{
    @apply w-[90vw] h-[max-content] lg:flex justify-between m-auto px-10 py-[2rem]
}

.sideFooter{
    border-radius: 15px;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    background: transparent;
    @apply lg:w-[30vw] w-[100%] lg:h-[85vh] h-[max-content] p-[2rem] flex flex-col justify-between cursor-pointer
}

.image{
    @apply min-w-[26vw] lg:h-[34vh] h-[30vh] overflow-hidden rounded-xl flex items-center
}

.img{
    transition: transform 0.4s ease-in-out;
}

.image:hover .img{
    transform: scale(1.5);
}

.sideFooter h1{
    @apply lg:text-4xl text-2xl font-[600] overflow-hidden
}

.sideFooter p{
    @apply text-[#c2c2c2] font-[500] lg:text-[1.5rem]
}

.contact{
    border-radius: 15px;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    background: transparent;
    @apply lg:w-[50vw] w-[100%] h-[max-content] flex flex-col lg:py-[5rem] py-[2.5rem] text-[#c2c2c2] lg:px-[3rem] px-[1.5rem] justify-between lg:mt-0 mt-[2.5rem]
}

.eachIcon{
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    @apply w-[max-content] p-[0.5rem] rounded-lg
}

.contact div input{
    box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
    @apply w-[100%] lg:h-[4rem] h-[2.5rem] my-5 focus:outline-none px-[1.5rem] py-[0.5rem] bg-[#191b1e] focus:border-2 focus:border-[#cc005f] rounded-md
}

.contact div textarea{
    box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
    @apply h-[15rem] w-[100%] focus:outline-none px-[1.5rem] py-[1rem] bg-[#191b1e] resize-none my-5 focus:border-2 focus:border-[#cc005f] rounded-md
}

.contact div p{
    @apply text-[1.2rem] font-[500]
}

.contact button{
    border-radius: 15px;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    @apply w-[100%] lg:h-[6rem] h-[4rem] bg-transparent rounded-md text-[#cc005f] text-[1.2rem] font-[500]
}

.contact button:active{
    @apply border-2 border-[#cc005f]
}

.contact span{
    @apply w-[100%] h-[3rem] bg-[#cc005f] rounded-md opacity-[0.3] text-center py-[0.5rem] mt-4
}

