.wrapper{
    @apply w-[100%] lg:h-[8rem] bg-[#343D68] text-white flex justify-between items-center lg:px-[10rem] px-[1.5rem] text-center
}

.socials{
    @apply flex lg:gap-[2rem] gap-[0.8rem] lg:py-8 py-[1rem]
}

.social{
    display: inline-block;
    transition-property: transform;
    transition-duration: 2s;
    @apply lg:w-[1.7rem] w-[1.3rem] cursor-pointer
}

.social:hover{
    transform: rotateY(180deg);
}

.gitProfile{
    @apply flex gap-2 lg:py-8 py-[1rem] items-center
}

.git{
    display: inline-block;
    transition-property: transform;
    transition-duration: 2s;
    @apply lg:w-[] w-[1.3rem]
}

.git:hover{
    transform: rotateY(180deg);
}