
.mainWrapper{
    width: 100vw;
    height: 100vh;
    background-image: url("/Media/intro-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #151515;
    background-blend-mode: darken;
    @apply lg:flex px-[1.5rem] pt-[2rem] 
}

.introText{
    @apply flex flex-col lg:w-[96vw] w-[100%] lg:h-[100%] h-[70vh] items-center text-white gap-6 justify-center
}

.introText p{
    @apply text-[#cc005f] lg:text-4xl font-[500] overflow-hidden
}

.introText h1{
    @apply lg:text-7xl text-3xl font-[700] overflow-hidden
}

.introText h4{
    @apply lg:text-3xl text-[#c2c2c2] overflow-hidden
}

.introText button{
    transition: color 0.3s ease-out;
    @apply lg:w-[10rem] w-[8rem] lg:py-[12px] font-[500] border-2 border-[#c2c2c2] py-[6px]
}

.introText button:hover{
    @apply border-[#cc005f] text-[#cc005f]
}

.introText button:active{
    @apply bg-neutral-700 text-black
}

.introIcon{
    @apply lg:w-[3vw] w-[100%] h-[max-content] flex flex-col justify-center lg:items-end lg:mt-0 mt-[3.5rem]
}

.icons{
    @apply flex lg:flex-col lg:w-[20px] w-screen lg:h-[max-content] gap-6 lg:pt-[18rem]
}

.icons::before{
    content: '';
    @apply lg:block hidden h-[27%] w-[1px] bg-[#c2c2c2] absolute lg:right-[27px] lg:top-[35rem]
}

.social{
    display: inline-block;
    position: initial;
    opacity: 0.5;
    top: 0;
    @apply lg:w-[2rem] w-[1rem]
}