.wrapper{
    position: fixed;
    background-color: #e5e5e5;
    z-index: 1;
    @apply w-[100%] lg:h-[5rem] h-[4.5rem] lg:px-[4rem] px-[1rem] flex justify-between items-center border-b-[0.17rem] border-b-gray-400
}

.logo{
    @apply flex gap-1 text-[2.5rem] font-[700] text-blue-900
}

.main{
    @apply w-[18rem] lg:flex justify-between text-center hidden
}

.menuIcon{
    @apply w-[3rem] h-[2rem] lg:hidden flex flex-col justify-between
}

.menuIcon div{
    background-image: linear-gradient(to right,#343d68,rgb(192, 138, 192), rgb(207, 140, 140));
    @apply w-[3rem] h-[0.6rem] 
}