.wrapper{
    backdrop-filter: blur(10px);
    z-index: 2;
    @apply w-full lg:h-[6rem] h-[5rem] border-b-2 border-[#cc005f] fixed flex justify-between items-center px-4 lg:bg-transparent bg-[shadow-black]
}

.logo{
    font-family: monospace;
    position: absolute;
    background-color: #cc005f;
    transform: translate(-50% -50%);
    overflow-x: visible;
    border-radius: 50%;
    box-shadow: #cc005f inset;
    animation: blob-animation 7s infinite linear;
    
    @apply lg:w-[3rem] w-[2rem] lg:h-[3rem] h-[2rem] flex justify-start items-center lg:text-3xl text-2xl font-[600] text-[#c2c2c2] relative left-4 pl-2 italic
}

.logo:hover{
    box-shadow: 0 0 10px 2px #cc005f;
    text-shadow: 0 0 5px #c2c2c2, 0 0 10px #c2c2c2, 0 0 20px #ff0000;
}

@keyframes blob-animation{
    0%, 100% {
        border-radius: 50%;
      }
      25% {
        border-radius: 40% 60% 50% 50% / 40% 70% 55% 50%;
      }
      50% {
        border-radius: 30% 70% 55% 45% / 80% 35% 55% 50%;
      }
      75% {
        border-radius: 25% 85% 50% 50% / 90% 55% 45% 60%;
      }
}

.menu{
    @apply lg:hidden flex flex-col space-y-2 top-0 left-0 z-10
}

.activeMenu{
    @apply gap-0 space-y-0
}

.activeMenu p{
    @apply absolute right-4
}

.activeMenu p:nth-child(1){
    @apply rotate-[135deg]
}

.activeMenu p:nth-child(2){
    @apply rotate-[45deg]
}

.activeMenu p:nth-child(3){
    @apply hidden h-0
}

.menu p{
    @apply w-8 h-[3px] bg-[#cc005f] rounded-full duration-300
}

.navText{
    @apply lg:flex hidden text-white gap-8 items-center mr-4
}

.navText a{
    transition: color 0.3s ease-out;
    @apply text-[#c2c2c2]
}

.navText a:active{
    @apply text-[#cc005f]
}

.navText a:hover{
    @apply text-[#cc005f]
}

.navText button{
    @apply w-[7rem] border-2 border-[#c2c2c2] py-[4px]
}

.navText button:hover{
    @apply border-[#cc005f] text-[#cc005f]
}

.sideNav{
    @apply hidden opacity-0
}

.activesideNav{
    background-color: transparent;
    z-index: 2;
    animation-name: sideBar;
    transition-property: all;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transition-timing-function: ease-in-out;
    @apply lg:hidden h-[100vh] w-[18rem] top-20 right-0 shadow-black shadow-md fixed backdrop-blur-[5px] 
}

.activesideNav nav{
    
    @apply w-full h-[25rem] flex flex-col justify-between items-center py-12
}

.activesideNav nav a{
    
    @apply text-[#cc005f] font-[600] border-b-2 border-b-[#cc005f]
}

.activesideNav nav a:nth-child(1){
    animation: sideNavLinkA;
    transition: all;
    position: relative;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transition-timing-function: ease-in-out;
}
.activesideNav nav a:nth-child(2){
    animation: sideNavLinkB;
    transition: all;
    position: relative;
    animation-duration: 1.4s;
    animation-fill-mode: forwards;
    transition-timing-function: ease-in-out;
}
.activesideNav nav a:nth-child(3){
    animation: sideNavLinkC;
    transition: all;
    position: relative;
    animation-duration: 1.7s;
    animation-fill-mode: forwards;
    transition-timing-function: ease-in-out;
}
.activesideNav nav a:nth-child(4){
    animation: sideNavLinkD;
    transition: all;
    position: relative;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    transition-timing-function: ease-in-out;
}
.activesideNav nav a:nth-child(5){
    animation: sideNavLinkA;
    transition: all;
    position: relative;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transition-timing-function: ease-in-out;
}

.activesideNav nav a:nth-child(5){
    @apply border-none
}

.activesideNav nav button{
    @apply w-[7rem] border-2 border-[#cc005f] py-[4px]
}

@keyframes sideBar{
    0% {opacity: 0; right: -250px;}
    100% {opacity: 1.5; right: 0;}
}

@keyframes sideNavLinkA{
    0% {opacity: 0; right: -100px;border-bottom: none;}
    100%{opacity: 1; right: 0;}
}

@keyframes sideNavLinkB{
    0% {opacity: 0; right: -100px;border-bottom: none;}
    100%{opacity: 1; right: 0;}
}

@keyframes sideNavLinkC{
    0% {opacity: 0; right: -100px;border-bottom: none;}
    100%{opacity: 1; right: 0;}
}

@keyframes sideNavLinkD{
    0% {opacity: 0; right: -100px;border-bottom: none;}
    100%{opacity: 1; right: 0;}
}