.wrapper{
    @apply w-[screen] h-[screen] bg-[#212428] fixed inset-0 overflow-hidden z-10 flex justify-center items-center
}

.wrapper nav{
    border-radius: 15px;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    @apply w-[90%] lg:h-[90%] px-[2rem] py-[3rem] lg:flex flex-col items-end
}

.close{
    border-radius: 10px;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    @apply w-[3rem] h-[2rem] py-[0.5rem] px-[0.4rem] cursor-pointer
}

.close p{
    @apply w-[100%] h-[4px] bg-[#c2c2c2]
}

.close p:nth-child(1){
    @apply rotate-[135deg]
}

.close p:nth-child(2){
    @apply rotate-[45deg]
}

.projectInfo{
    @apply w-[100%] h-[85%] mt-[3rem] lg:flex justify-between p-[1.5rem]
}

.projectInfo div:nth-child(1){
    @apply lg:w-[43%] w-[100%] h-[90%] rounded-md flex items-center justify-center lg:m-0 m-auto
}

.projectInfo div:nth-child(2){
    @apply lg:w-[50%] lg:h-[100%] h-[80%] flex flex-col justify-between px-[2rem] text-[#c2c2c2] py-[4rem]
}

.projectInfo div:nth-child(2) h1{
    @apply lg:text-5xl text-2xl text-[#c4cfde] font-[600] overflow-hidden
}

.projectInfo div:nth-child(2) p{
    @apply text-2xl font-[500]
}

.projectInfo div:nth-child(2) button{
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    @apply lg:w-[13rem] w-[10rem] text-[#cc005f] lg:py-[1.5rem] py-[1rem] rounded-md font-bold lg:m-0 m-auto 
}

.projectInfo div:nth-child(2) h2{
    @apply lg:text-2xl font-bold text-[#c4cfde]
}