.wrapper{
    border-top: 1px solid black;
    @apply max-w-[1200px] py-[8rem] text-[#c2c2c2] lg:px-[5rem] px-[1.5rem] m-auto justify-center
}

.heading{
    @apply flex flex-col items-center mb-[3.5rem] text-center
}

.heading h1{
    @apply flex text-4xl gap-2 font-[600] mb-2 text-center
}

.wrapper section {
    @apply max-w-[100vw] h-[max-content] flex justify-center m-auto flex-wrap gap-[24px] py-[2rem] 
}

.eachProject{
    border-radius: 15px;
    transition: all 0.4s ease-in-out;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    z-index: 1;
    @apply lg:w-[25vw] w-[90%] lg:h-[53vh] h-[max-content] bg-transparent rounded-md lg:p-[2rem] p-[1rem] justify-between cursor-pointer relative block overflow-hidden
}

.img{
    transition: transform 0.4s ease-in-out;
    @apply rounded-md h-[100%]
}

.eachProject:hover .img{
    transform: scale(1.5);
}

.eachProject p{
    @apply text-[#cc005f] font-[500] lg:text-[1.2rem] my-4
}

.eachProject h1{
    transition: color 0.3s ease-out;
    @apply font-[700] text-[1.4rem] text-[#c4cfde]
}

.eachProject h1:hover{
    @apply text-[#cc005f] underline
}