.wrapper{
    @apply w-screen h-screen lg:py-[8rem]
    py-[5rem]
}

.heading{
    @apply w-screen text-center
}

.heading h1{
    @apply lg:text-5xl text-3xl text-[#cc005f] font-[600] mb-4 overflow-hidden
}

.heading p{
    @apply lg:w-[40rem] max-w-[40rem] m-auto leading-6 text-[#c2c2c2]
}

.skills{
    @apply lg:w-[50vw] min-w-[50vw] m-auto mt-20 lg:flex flex-wrap items-center justify-center gap-[24px] py-4 overflow-hidden
}

.Skill{
    width: 15rem;
    height: 7rem;
    border-radius: 15px;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    background: transparent;
    @apply flex items-center m-auto lg:mb-0 mb-10 justify-center overflow-hidden text-white
}